# Set theme
theme: alembic-jekyll-theme

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-feed
- jemoji

# Site settings
url: 'https://www.davidbrett.im'
baseurl: ''
title: 'David J. Brett'
description: 'Pastor, Chaplain, & Carpenter'
permalink: pretty
logo: "/images/djb-blue.png"

# Pagination
paginate: 5
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Home
  url: /
- title: About
  url: /about/
- title: Blog
  url: /blog/
- title: Contact
  url: /contact/
- title: Search
  url: /search/

# Footer nav
navigation_footer:
- title: Back to top
  url: "#top"

# Collections
collections:
  posts:
    title: Posts
    output: true
    description: "David's thoughts and ideas"
     feature_text: |
       Welcome to David's blog
    feature_image: "/images/unsplash/tomas-robertson-M_duJG81Kv4-unsplash.jpg"
